.rainbow-text {
    position: static;
    text-align: center;
    background: linear-gradient(
                to right, 
                red, 
                orange, 
                yellow, 
                green, 
                blue, 
                indigo, 
                violet
                );

  /* 2. Clip the background to the text shape */
    background-clip: text;

  /* 3. Make the text color transparent to let the background show through */
    color: transparent; 

  /* Optional: Add basic styling */
    font-size: 4rem;
    font-weight: bold;
    display: inline-block; /* Ensures gradient matches text length */  
}

img#one { 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: fit-content;
}

div.container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 50px;
}

img.img {
    width: 50%;
    height: auto;
}

p.text {
    font-size: 50px;
    font-weight: bold;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    background-color: rgb(165, 105, 225);
    cursor: pointer;
}
